* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #E266DD;
    color: #fff;
    text-align: center;
    padding: 10px;
}

body {
    background-color: #e7bae6;
}
.container {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex-basis: 30%;
    background-color: lightgray;
    padding: 10px;
    box-sizing: border-box;
    
  }
.caixa {
    margin-top: 30px;
    width: 700px;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
}

.arrow1 {
    margin-top: 220px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid black;
    cursor: pointer;
  }
  .arrow2 {
    align-content: center;
    margin-top: 220px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid black;
    cursor: pointer;
  }